.document {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
}

.welcome-document h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 40px;
}

.welcome-document-workclover {
  color: #008000;
}

.welcome-document p {
  font-size: 12px;
  margin-bottom: 20px;
}

.new-document {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #dcdcdc;
  font-size: 15px;
}

.document-title {
  font-size: 50px;
  opacity: 0.5;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 700px;
}

.document-title:empty:before {
  color: #aaa;
  position: absolute;
}

.document-content {
  margin-top: 40px;
  padding-top: 5px;
  padding-left: 5px;
  width: 50vw;
  height: 100vh;
}
